/* div {
    background-color: var(--background-color);
} */
.login-section {
    background: linear-gradient(90deg, rgb(0 0 0) 35%, rgb(33 26 56) 100%);
    height: 100%;
    overflow-y: auto;
}

.login-section .container {
    height: 100%;
}

.login-section .login-inner {
    height: 100%;
}

.login-row {
    display: flex;
    padding: 35px 0px;
    align-items: center;
    height: 100%;
}

.login-row .col-left {
    width: 60%;
}

.login-row .col-right {
    width: 40%;
    max-width: 570px;
    padding-bottom: 30px;
}

.login-row .col-left .logo-text img {
    width: 100px;
}

.login-row .col-left .img-block img {
    width: 100%;
}

.login-row .col-left .logo-text p {
    font-weight: 400;
    font-size: 15.29px;
    line-height: 27.53px;
    max-width: 539px;
    letter-spacing: 0.05em;
    color: var(--text-color);
}

.login-from {
    background: radial-gradient(145.46% 122.03% at 88.28% 10.25%,
            rgba(222, 164, 242, 0.1) 0%,
            rgba(0, 0, 0, 0) 100%);
    padding: 52px 45px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
}

.login-from .title {
    margin-bottom: 60px;
    text-align: center;
}

.login-from .title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--heading-color);
    margin: 0px;
}

.login-from .title span {
    font-weight: 400;
    font-size: 16px;
    color: #5c6d8e;
    line-height: 19px;
}

.login-from .title span a {
    color: var(--text-color);
    text-decoration: none;
}

.login-row .col-right .form-group label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--heading-color);
    display: block;
}

.login-row .col-right .sign-text {
    text-align: center;
    margin-bottom: 30px;
}

.login-row .col-right .sign-text p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--body-text);
    margin: 0px;
}

.login-row .col-right .caption p {
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #96ABDE;
    opacity: 0.6;
    max-width: 480px;
    margin: 0px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}



.second-code p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--body-text);
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.second-code {
    margin-top: 5px;
}

.second-code p span {
    color: var(--text-color);
    margin-left: 4px;
}

/* social button css */
.social-button {
    display: flex;
    margin: 0px -10px;
}

.social-button .social-icon {
    width: 50%;
    border: 0.5px solid #96abde;
    border-radius: 5px;
    text-align: center;
    padding: 17px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: var(--heading-color);
    text-decoration: none;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-button .social-icon img {
    margin-right: 10px;
}

/* social button css end*/

@media (max-height: 850px) {
    .login-row {
        align-items: flex-start;
    }
}