/* store css start */
.store-section {
  background: var(--background-color);
  height: 100%;
  overflow-y: auto;
}
.store-section .container {
  height: 100%;
}
.store-section .store-inner {
  height: 100%;
}
.store-section .logo {
  text-align: center;
  margin: 23px 0px;
}

.store-section .logo img {
  width: 111px;
}
.store-row {
  display: flex;
  padding: 72px 88px;
  background-color: #201937;
  align-items: center;
  border-radius: 10px;
}

.store-row .col-left {
  width: 50%;
  padding-right: 50px;
}
.store-images {
  padding-bottom: 0px !important;
}
.store-images .main-img img {
  height: auto !important;
  object-fit: cover;
}
.store-row .col-right {
  width: 50%;
  padding-bottom: 30px;
  padding-left: 30px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  border-bottom: none;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: none;
  border-top-right-radius: 0px;
  padding-top: 24px;
}
.store-row .main-img img {
  width: 100%;
}
.store-row .digit p {
  font-size: 16px;
  line-height: 28px;
  color: var(--white-color);
  margin: 0px;
}

.store-row .main-title h2 {
  font-weight: 600;
  font-size: 32px;
  color: var(--title-color);
}
.store-row .navigation .big-title h2 {
  font-size: 30px !important;
  line-height: 20px;
  background: linear-gradient(303.01deg, #5961f8 -4.4%, #f2d9f7 111.29%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.store-row .main-title p {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #4b4e70;
  max-width: 460px;
}

.store-row .store-row .main-title {
  margin-bottom: 64px;
}

.store-row .digit {
  margin-bottom: 49px;
}
.store-row .digit p {
  color: var(--title-color);
}
.digit p span {
  color: #3f4263;
}
.store-row .input-style input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.store-row .input-style p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  text-align: right;
  color: rgba(200, 216, 255, 0.3);
}
.store-row .input-style p span {
  color: var(--title-color);
}

.store-row .backwithbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 177px;
}
.store-row .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.store-row .store-name h2 {
  color: var(--heading-color);
  margin: 0px;
  font-size: 17px;
  line-height: 20px;
}

.store-row .store-list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.store-row .store-list ul li a {
  font-size: 14px;
  letter-spacing: inherit;
  color: #4b4e70;
  text-decoration: none;
}
.store-row .store-list ul li {
  margin-left: 62px;
}
.store-row .subtitle-text {
  text-align: center;
  margin: 20px 0px;
}

.store-row .subtitle-text h3 {
  color: var(--heading-color);
  margin: 0px;
  font-size: 17px;
  line-height: 20px;
}

.store-row .subtitle-text p {
  font-size: 14px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #4b4e70;
  max-width: 501px;
  margin: auto;
  margin-top: 20px;
}

.store-row .main-img img {
  height: 429px;
  object-fit: cover;
}
.store-row .img-area {
  display: flex;
  align-items: center;
  margin: 0px -10px;
}

.store-row .img-area .col {
  width: 33.33%;
  margin: 0px 15px;
}

.store-row .img-area .col img {
  width: 100%;
}
.backwithbutton .arrow {
  border: 1px solid var(--heading-color);
  display: flex;
  align-items: baseline;
  padding: 14px;
  border-radius: 10px;
}
.copyright-text p {
  color: #626582;
  text-align: center;
  font-size: 14px;
  line-height: 25px;
}
.copyright-text {
  margin-top: 50px;
  padding-bottom: 50px;
}
.copyright-text p span {
  color: #9d96f7;
}
.domain-caption {
  display: flex;
  justify-content: space-between;
}

.domain-caption .left {
  width: 45%;
  text-align: left;
}

.domain-caption .left p {
  text-align: left !important;
}

.domain-caption .right button {
  background-color: transparent;
  border: none;
  color: #9f98f7;
  margin-top: 15px;
}
.input-style.input-style-domain .checkicon {
  position: absolute;
  z-index: 999;
  top: 16px;
}

.input-style.input-style-domain {
  position: relative;
}

.input-style.input-style-domain .checkicon label {
  position: absolute;
  right: 0;
  color: #fff;
}

.input-style.input-style-domain label {
  color: #5c6d8e;
  position: absolute;
  top: 16px;
  right: 0;
}
.input-style.input-style-domain input {
  padding-left: 30px;
}
@media (max-height: 850px) {
  .store-row {
    align-items: flex-start;
  }
}
